---
name: Build and Publish Repository
on:
  # pull_request: {}
  # issue_comment:
  #   types:
  #     - created
  push:
    branches:
      - "master"
      - "prerelease"
permissions:
  contents: write
  issues: write
  pull-requests: write
jobs:
  build:
    uses: aps831/workflows/.github/workflows/build-and-publish-basic.yaml@master
    with:
      templated-files: |
        README.tpl.md
      release-on-default-branch: true
    secrets:
      ACCESS_TOKEN: ${{ secrets.GITHUB_TOKEN }}
