---
name: Deployment Record Sub
on:
  workflow_dispatch:
    inputs:
      tag:
        description: Tag
        required: true
        type: string
      env:
        description: Environment
        required: true
        type: string
      timestamp:
        description: Timestamp
        required: true
        type: string
      message:
        description: Deployment message
        required: true
        type: string
permissions:
  contents: write
jobs:
  record:
    uses: aps831/workflows/.github/workflows/deployment-record-sub.yaml@feat/deploy
    with:
      tag: ${{ inputs.tag }}
      env: ${{ inputs.env }}
      timestamp: ${{ inputs.timestamp }}
      message: ${{ inputs.message }}
