---
# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json
name: Gitleaks Check
on:
  workflow_dispatch:
  pull_request:
permissions:
  contents: read
  pull-requests: read
  issues: read
jobs:
  build:
    uses: aps831/workflows/.github/workflows/gitleaks.yaml@master
