---
name: Git Branch Rebase and Squash
on:
  issue_comment:
    types:
      - created
permissions:
  contents: write
  issues: write
jobs:
  squash:
    uses: aps831/workflows/.github/workflows/rebase-and-squash.yaml@feat/rebase
    secrets:
      ACCESS_TOKEN: ${{ secrets.GITHUB_TOKEN }}
