---
name: Release
on:
  pull_request:
  push:
    branches:
      - "**"
jobs:
  release:
    permissions:
      contents: write
      issues: read
      pull-requests: read
    uses: aps831/workflows/.github/workflows/git-repository-release.yaml@refactor/build-release
    with:
      templated-files: |
        README.tpl.md
        MISSING.tpl.md
    secrets:
      ACCESS_TOKEN: ${{ secrets.GITHUB_TOKEN }}
